Numpy
xarray
matplotlib
openpyxl
PyQt6
iPython
qtconsole
jupyterlab
ipyfilechooser
ipywidgets
pickleshare

holoviews
dask[complete]
datashader
Git add .
opencv-python
#ffmpeg
ffmpeg-python
rechunker
natsort
tifffile
cvxpy
networkx
#setuptools
pyFFTW
#scipy
pymetis
sparse
scikit-image
scikit-learn
scikit-video
statsmodels
SimpleITK
medpy


