*/venv312
*/venv311
.venv
.venv-si
ExampleRedLines
recording8
session5
minian

ephyviewer

.DS_Store
python/.ipynb_checkpoints
python/dask-worker-space

Analysis
python/localConfig.ini
python/tuto_logs
python/Tutorial_Cluster*