*/venv312
*/venv311
.venv
.venv-si
.si-env
ExampleRedLines
recording8
session5
minian

ephyviewer

.DS_Store
python/.ipynb_checkpoints
python/dask-worker-space

Analysis
python/localConfig.ini
python/tuto_logs
python/si_logs
python/kilosort4_output
python/sorting_analyzer_demo_K
python/report
python/clusters
python/si_dask_logs
python/sorting_analyzer_training
python/sorting_analyzer_full