ipykernel
submitit
memory_profiler

pysshpass
paramiko
scp

ipyfilechooser
pickleshare

#pour ephysviewer:
numpy
scipy
joblib
tqdm
matplotlib
h5py
pandas
xarray
zarr
scikit-learn
hdbscan
networkx
pybind11
loky
numba
jupyter
PyQt5
pyqtgraph
ipywidgets
ipympl
torch
kilosort

ephyviewer
MEArec
spikeinterface[full,widgets] @ git+https://github.com/SpikeInterface/spikeinterface.git@0.101.2
spikeinterface-gui @ git+https://github.com/SpikeInterface/spikeinterface-gui.git
tridesclous

neo @ git+https://github.com/NeuralEnsemble/python-neo.git
probeinterface @ git+https://github.com/SpikeInterface/probeinterface.git
