ipykernel

ipyfilechooser
jupyter_bokeh
ipykernel

#pour ephysviewer:
ephyviewer
PySide6
pyqtgraph=0.13.3 #0.13.7 fails to work with TimeFreqViewer of ephyviewer
numpy
scipy
matplotlib
Neo
PyAV
pandas
spikeinterface

dask
xarray
quantities
pickleshare
open-ephys-python-tools

ipympl
openpyxl
